---
name: Robot

on:
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: windows-latest
    strategy:
      matrix:
        PYTHON_VERSION:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
      - uses: extractions/setup-just@v3
      - run: uv sync --group dev --verbose --no-progress
      - run: just tests
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: py${{ matrix.PYTHON_VERSION }}_robot_log
          path: log.html
